html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  font-family: 'Fira Code', monospace;
  overflow: hidden;
  background-color: black;
}
button,
input,
select,
textarea {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}
button:not(:disabled) {
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.files {
  flex: auto;
  border: none;
}
.delete-btn {
  color: red;
}

.editor {
  flex: auto;
  overflow: hidden;
}
