<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>directory</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/directory.css">
    <script src="/static/directory.js" charset="utf-8"></script>
  </head>
  <body>
    <% if (!sidebar) { %>
      <form action="./" method="get">
        <label>Path <input type="text" name="create"></label>
        <input type="submit" value="Create">
      </form>
    <% } %>
    <% if (!topLevel) {%>
      <p class="parent-folder"><a href="../" class="parent-folder-link">..</a></p>
    <% } %>
    <%- include('directory', { files, baseUrl, sidebar }) %>
  </body>
</html>
