<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Multiplayer datapack editor</title>
    <meta name="description" content="However, it requires the knowledge of a passphrase." />
  </head>
  <body>
    <p>you need to prove your worth</p>
    <form method="get">
      <p>password: <input type="password" name="set-password" autofocus></p>
      <p><input type="submit" value="guess"></p>
    </form>
  </body>
</html>
