<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>permission needed</title>
  </head>
  <body>
    <p>the server owner needs to approve you</p>
    <form method="get">
      <p><label for="message">Add a message</label></p>
      <textarea id="message" name="set-message" rows="8" cols="80"><%= message %></textarea>
      <p><input type="submit" value="save"></p>
    </form>
  </body>
</html>
